.noItems {
    font-size: 1.25rem;
    text-align: center;
    margin: 200px;
}

.totalContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.totalText {
    margin-right: 50px;
}

.total {
    width: 100px;
    font-weight: bold;
}

.cancel {
	align-self: flex-end;
}